h1 {
    color: rgb(0, 112, 210);
}
p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.app {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
}

svg path {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.container {
    border: 3px solid #000;
    padding: 20px;
    position: relative;
}

.child {
    width: 20%;
    height:100px;
    top:20px;
    position: absolute;
    border: 2px solid red;
}

.input {
  left:30px;
}

.output {
  right:30px;
}

.socket-input {
  position: absolute;
  right: 20%;
  top:40%;
}

.socket-output {
  position: absolute;
  left: 20%;
  top:40%;
}
